* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
header {
	width: 100%;
	background: #0a3d62;
	height: 80px;
}
.logobar-flex{
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.logo {
	
	margin: 0px 10px;
}
.logo img {
	width: 100%;
	margin: 15px 0px;
	animation: animate 3s linear infinite;
	height: 45px;
 }
  @keyframes animate {
 	0% {
 		transform: scale(1.1);
 	}
 	50% {
 		transform: scale(1);
 	}
 	100% {
 		transform: scale(1.1);
 	}
 }

  .menu-item a{
  	color: white;
  	font-size: 20px;
  	text-decoration: none;
  	padding: 0px 10px;
  	
  	
  }
  .menu-item a:hover {
  	color: black;
  	background: red;
  	transition: 1.5s;
  }
 
 .menu-item i {
 	color: red;
 	font-size: 30px;
 	transition: 0.5s;
 	
 }
 .menu-item i:hover {
 	color: white;
 	
 }
 @media only screen and(max-width: 575px){
 	  .logo img{
          width: 100%;
          height: 27px;
 	  }
 	 .logo {
 	  	width: 40%;
 	  	margin: -6px 10px;
 	  }
 }
/* ----next sec---*/
section{
	background: #ffffff;
	width: 100%;
	height: 650px;
}
.flex {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 150px;
}


.heading h1 {
	font-size: 40px;
	margin-bottom: 25px;

}
.paragraph p {
	font-size: 15px;
	margin-bottom: 30px;
	font-weight: bold;
	font-style: italic;
}

.btn button{
	color: white;
	background: orangered;
	padding: 10px 20px;
	border: none;
	outline: none;
	border-radius: 10px;
	font-size: 15px;
	transition: 0.6s;
}
.btn button:hover{
	color: white;
	background: mediumslateblue;
}
button i {
	padding-left: 8px;
}
.right-img {
	width: 100%;
}

.right-img img {
	width: 100%;
	height: 400px;
    border-radius: 15px;
    transition: 0.5s;
}
.right-img img:hover {
	transform: scale(1.1);
}
@media only screen and (max-width: 575px){
	.flex{
		display: block;
		text-align: center;
		padding-top: 68px;
	}
	.heading h1 {
		font-size: 30px;
	}
	section{
		height: auto;
		background: #e9dddd;
	}
	.right-img{
		width: 65%;
		margin: auto;
		margin-top: 20px;
	}
	.right-img img {
		height: 270px;

	}

	.right-img img:hover{
		transform: none;
	}
	
}

/*---sec-three---
*/
.section3 {
	width: 100%;
	height: 500px;
	background: honeydew;
}
.img-flex {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 60px;
}
.image {
	width: 20%;
    margin: 25px;
}

.image img {
	transition: 0.6s;
	width: 100%;
	height: 50vh;
	
}
.image img:hover{
	transform: scale3d(0.2, 0.0, 0.2);
}
@media only screen and (max-width: 575px){
	.img-flex{
		display: block;
		padding-top: 30px;
	}
	
	/*.image img:hover{
		transform: none;

	}*/
	.section3 {
		height: auto;

	}
	
	.image{
		width: 65%;
		margin: auto;
		margin-bottom: 20px;

	}
	.image img{
		width: 100%;
	    height: 50vh;
	}
}


/*---section-four---*/
.section4 {
	width: 100%;
	background: snow;
	height: 650px;
}
.products h1 {
	text-align: center;
	letter-spacing: 1px;
	font-size: 30px;
	padding-top: 30px;
	

}
.products h1::after{
         content: "";
         width: 0%;
         height: 3px;
         background: orangered;
         display: block;
         margin: auto;
         margin-top: 10px;
         transition: 1.5s;
}
.products h1:hover::after{
	width: 10%;
}

.four-flex {
	display: flex;
	justify-content: center;
	align-items: center;
    margin-top: 40px;
}
.products-img{
	width: 20%;
	margin: 0px 20px;

}
.products-img img {
	box-shadow: 2px 3px 2px 3px navy;
	transition: 1.5s;
	width: 100%;
	height: 50vh;
	
	
	
}

.products-img img:hover {
	transform: scale3d(0.5, 0.5, 2.5);
	
}
.products-img p {
	color: grey;
	padding-top: 10px;
}
.products-img i {
	color: orangered;
	margin-top: 5px;
}
.products-img h3{
	color: grey;
	padding-top: 5px;
}
@media only screen and (max-width: 575px){
	.four-flex {
		display: block;
	}
	.section4{
		height: auto;
	}
	.products-img{
		width: 55%;
		margin: auto;
	}
	.products-img img {
		height: 80vh;
	}
	.products-img{
		text-align: center;
	}
	.products h1{
		padding-top: 7px;
	}
}
/*---sect-five---
*/
.section5 {
	width: 100%;
	height: 650px;
	background: bisque;
 }
 .lat-pdroducts h1 {
 	font-size: 30px;
 	text-align: center;
 	padding-top: 30px;
 }
  .lat-pdroducts h1::after{
         content: "";
         width: 0%;
         height: 3px;
         background: blue;
         display: block;
         margin: auto;
         margin-top: 10px;
         transition: 1.5s;
}
 .lat-pdroducts h1:hover::after{
	width: 10%;
}
/*@media only screen and(max-width: 575px){

}*/

/*<!--  ----sec-six---- -->
*/
.sec-six {
	width: 100%;
	height: 650px;
	background: #ffffff;
}
.watch-cont {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 120px;
}
.smart-wacth img{
       width: 100%;
       height: 300px;
       padding-right: 70px;
}
.three-cont {
	margin-top: -30px;
}
.available p{
  
       padding-bottom: 20px;
}
.smart-band h1 {
	font-size: 35px;
	margin-bottom: 20px;
}
.para-cont p {
	color:  black;
	padding-bottom: 40px;
	font-size: 15px;
}

.buynow button{
	color: white;
	background: orangered;
	padding: 10px 20px;
	border: none;
	outline: none;
	border-radius: 10px;
	font-size: 15px;
	transition: 0.4s;
}
.buynow button:hover{
	color: black;
	background: #0a3d62;
}
@media only screen and (max-width: 575px){
	.watch-cont{
		display: block;
	}
	.watch-cont{
		padding-top: 45px;
	}
	.smart-wacth img{
		padding-right: 0px;
	}
	.sec-six {
		height: auto;
	}
	.three-cont{
		text-align: center;
		padding-top: 40px;
	}
	.para-cont p{
		margin: 15px;
		padding-bottom: 10px;
	}
	
}
/*---sec-seven---*/
.section-seven{
	width: 100%;
	height: 650px;
	background: /*bisque*/#ffffff;
}
.three-hover {
	display: flex;
	justify-content: center;
	text-align: center;
	padding-top: 20px;
	/*height: 345px;*/
	
}


.fir-hover {
	background: beige;
    width: 20%;
    margin: 0px 20px;
    border-radius: 10px;
    box-shadow: 5px 4px 5px 4px grey;
    transition: 0.5s;

}
.fir-hover:hover{
	    transform: translateY(20px);
}
.sec-hover{
	background: beige;
	width: 20%;
	 margin: 0px 20px;
     border-radius: 10px;
     box-shadow: 5px 4px 5px 4px grey;
	transition: 0.5s;
}
.sec-hover:hover{
	transform: translateY(20px);
}
.thir-hover{
	background: beige;
	width: 20%;
	 margin: 0px 20px;
   border-radius: 10px;
   box-shadow: 5px 4px 5px 4px grey;
   transition: 0.5s;
}
.thir-hover:hover{
	transform: translateY(20px);
}
.hu-icon i {
	color: orangered;
	font-size: 30px;
	margin-top: 25px;
}
.lorem p {
	text-align: justify;
    margin: 20px;


}
.star-icon i {
	color: orangered;
}
.profile {
	width: 16%;
	margin: auto;
}
.profile img {
	border-radius: 50%;
	width: 100%;
	height: 65px;

}

.name h3{
	text-transform: capitalize;
	margin-top: 15px;
}
.logo-flex{
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 40px;
}
.five-img{
	width: 50%;
    margin: 40px;
}
.five-img img {
	width: 100%;
	height: 100px;

}
@media only screen and (max-width: 575px){
	.three-hover{
		display: block;
        
	}
	.section-seven{
		height: auto;
	}
	.fir-hover{
		width: 280px;
		margin: auto;
		margin-bottom: 35px;
	}
	.sec-hover{
		width: 280px;
		margin: auto;
		margin-bottom: 35px;
	}
	.thir-hover{
		width: 280px;
		margin: auto;
		margin-bottom: 35px;
	}
	.logo-flex{
		display: block;
	}
	.five-img{
		margin: auto;
	}
	
}
/*----footer---*/
footer{
	width: 100%;
	height: 400px;
	background: black;
}
.footer-flex {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 40px 50px;
}
.two-logo {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;

}
.dow-app h3 {
    color: white;
    padding-bottom: 25px;
}
.para-text p {
	color: gray;
	padding-bottom: 15px;
	font-size: 12px;
}
.google-play img{
	width: 100%;
	height: 100px;

}
.app-store img {
	width: 100%;
	height: 100px;
}

.red-img{
	width: 57%;
	margin: auto;

}
.red-img img {
	width: 100%;
	height: 55px;
	border-radius: 5px;
	margin-bottom: 25px;
}
.para-text2 p {
          font-size: 15px;
          font-weight: bold;
          text-align: center;
          color: grey;
          line-height: 2em;

}


.useful-links h2 {
	color: white;
	padding-bottom: 25px;

}
.bott-para p{
	text-align: center;
	font-weight: bold;
	color: grey;
	line-height: 2em;
}
.follow-us h2 {
	color: white;
	padding-bottom: 25px;

}
.p-line p {
	color: grey;
	text-align: center;
	padding: 25px 0px;
}
@media only screen and (max-width: 575px){
	.footer-flex{
		display: block;
	}
	/*.two-logo{
		display: block;
	}*/
	footer{
		height: auto;
		/*margin-top: -186px;*/
	}
	.red-img img{
		padding-top: 10px;
		margin-bottom: 7px;
	}
	.dow-app h3{
		text-align: center;
	}
	.para-text p{
		text-align: center;
	}
	.useful-links h2{
         text-align: center;
	}
	.follow-us h2{
		text-align: center;
		margin-top: 20px;
	}
	.bott-para p{
		margin-top: -18px;
	}
}